# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
bin/
obj/
publish/

# Compiled binaries
*.exe
*.dll
*.pdb
*.cache
*.ilk
*.meta
*.obj
*.pch
*.lib
*.exp
*.nupkg

# Node
node_modules/

# Python
__pycache__/
*.pyc
.env

# OS files
Thumbs.db
.DS_Store

# Build outputs
dist/
build/

# Logs
*.log
