# AgentDaily - Visual Studio

## User files and build artifacts
*.njsproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

## VS directories
.vs/
_ReSharper*/
[Tt]est[Rr]esult*/

## Node
node_modules/
npm-debug.log*

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
